apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: {{ include "go-httpbin.fullname" . }}
  labels:
    {{- include "go-httpbin.labels" . | nindent 4 }}
spec:
  selector:
    matchLabels:
      {{- include "go-httpbin.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "go-httpbin.selectorLabels" . | nindent 8 }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "go-httpbin.serviceAccountName" . }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      containers:
      - name: {{ .Chart.Name }}
        securityContext:
          {{- toYaml .Values.securityContext | nindent 12 }}
        image: "{{ .Values.image.name | default (printf "%s:%s" .Values.image.repository (.Values.image.tag | default .Chart.AppVersion)) }}"
        imagePullPolicy: {{ .Values.image.pullPolicy }}
        {{- with .Values.args }}
        args:
          {{- toYaml . | nindent 10 }}
        {{- end }}
        env:
        {{- if .Values.env }}
        {{- range .Values.env }}
        - name: {{ .name }}
          value: {{ .value | quote }}
        {{- end }}
        {{- end }}
        {{- if .Values.qlog.publicPrefix }}
        - name: QLOG_PUBLIC_PREFIX
          value: {{ .Values.qlog.publicPrefix | quote }}
        {{- end }}
        {{- if .Values.qlog.qvisUrl }}
        - name: QVIS_URL
          value: {{ .Values.qlog.qvisUrl | quote }}
        {{- end }}
        ports:
        - name: http
          containerPort: 8080
          protocol: TCP
          {{- if .Values.hostNetwork.useHostPort }}
          hostPort: {{ .Values.hostNetwork.ports.http }}
          {{- if .Values.hostNetwork.hostIP }}
          hostIP: {{ .Values.hostNetwork.hostIP }}
          {{- end }}
          {{- end }}
        {{- if .Values.livenessProbe }}
        livenessProbe:
          {{- toYaml .Values.livenessProbe | nindent 10 }}
        {{- end }}
        {{- if .Values.readinessProbe }}
        readinessProbe:
          {{- toYaml .Values.readinessProbe | nindent 10 }}
        {{- end }}
        resources:
          {{- toYaml .Values.resources | nindent 12 }}
        {{- with .Values.volumeMounts }}
        volumeMounts:
          {{- toYaml . | nindent 10 }}
        {{- end }}
      {{- with .Values.volumes }}
      volumes:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
